'scopeName': 'source.terraform'
'name': 'Terraform'
'fileTypes': [
	'tf'
	'tfvars'
]
'foldingStartMarker': '\\{\\s*$'
'foldingStopMarker': '^\\s*\\}'

'patterns': [
	{'include': '#comments'}
	{'include': '#sections'}
	{'include': '#literals'}
	{'include': '#properties'}
]

'repository':
	'comments':
		'patterns': [
				{
					'match': '#.*'
					'name': 'comment.number-sign'
				}
				{
					'match': '\\/\\/.*'
					'name': 'comment.double-slash'
				}
				{
					'begin': '\\/\\*'
					'end': '\\*\\/'
					'name': 'comment.block'
				}
		]
	'primitives':
		'patterns': [
			{
				'match': '\\b(true|false|yes|no|on|off)\\b'
				'name': 'constant.language'
			}
			{
				'match': '\\b\\d+([kKmMgG]b?)?\\b'
				'name': 'constant.numeric'
			}
			{'include': '#heredocs'}
			{'include': '#strings'}
			{'include': '#maps'}
			{'include': '#lists'}
		]
	'strings':
		'patterns': [
			{
				'comment': 'Terraform claims it only uses double-quoted strings'
				'begin': '(")'
				'beginCaptures':
					'1':
						'name': 'punctuation.definition.string.begin'
				'end': '(")'
				'endCaptures':
					'1':
						'name': 'punctuation.definition.string.end'
				'name': 'string.interpolated'
				'contentName': 'entity'
			}
		]
	'heredocs':
		'patterns': [
			{
				'begin': '<<(\\w*JSON)$'
				'beginCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'end': '^(\\1)$'
				'endCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'contentName': 'string.interpolated'
				'patterns': [
					{'include': 'source.json'}
				]
			}
			{
				'begin': '<<(\\w*YA?ML)$'
				'beginCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'end': '^(\\1)$'
				'endCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'contentName': 'string.interpolated'
				'patterns': [
					{'include': 'source.yaml'}
				]
			}
			{
				'begin': '<<(\\w*XML)$'
				'beginCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'end': '^(\\1)$'
				'endCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'contentName': 'string.interpolated'
				'patterns': [
					{'include': 'source.xml'}
				]
			}
			{
				'begin': '<<(\\w*SH|SHELL)$'
				'beginCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'end': '^(\\1)$'
				'endCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'contentName': 'string.interpolated'
				'patterns': [
					{'include': 'source.shell'}
				]
			}
			{
				'begin': '<<(\\w+)$'
				'beginCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'end': '^(\\1)$'
				'endCaptures':
					'1':
						'name': 'keyword.control.heredoc-token'
				'name': 'keyword.operator.heredoc'
				'contentName': 'string.interpolated'
			}
		]
	'literals':
		'patterns': [
			{'include': '#primitives'}
			{'include': '#lists'}
			{'include': '#maps'}
		]
	'lists':
		'patterns': [
			{
				'name': 'storage.type.primitive.array'
				'begin': '(\\[)'
				'beginCaptures':
					'1':
						'name': 'punctuation.definition.array.begin'
				'end': '(\\])'
				'endCaptures':
					'1':
						'name': 'punctuation.definition.array.end'
				'patterns': [
					{'include': '#primitives'}
					{
						'match': ','
						'name': 'punctuation.definition.separator'
					}
				]
			}
		]
	'maps':
		'patterns': [
			{
				'begin': '(\\w+)\\s*(=)\\s*(\\{)'
				'beginCaptures':
					'1':
						'name': 'variable'
					'2':
						'name': 'keyword.operator.assignment'
					'3':
						'name': 'punctuation.definition.tag.begin'
				'end': '(\\})'
				'endCaptures':
					'1':
						'name': 'punctuation.definition.tag.end'
				'name': 'storage.type.primitive.map'
				'patterns': [
					{'include': '#comments'}
					{'include': '#properties'}
				]
			}
		]
	'sections':
		'patterns': [
			{
				'begin': '^\\b(provider|provisioner|resource|data|module|variable|output)\\b\\s*(?:("[\\w-]+"\\s*)*)?(\\{)'
				'beginCaptures':
					'1':
						'name': 'entity.name.section'
					'2':
						'name': 'variable.parameter.function'
					'3':
						'name': 'punctuation.definition.tag.begin'
				'end': '(\\})'
				'endCaptures':
					'1':
						'name': 'punctuation.definition.tag.end'
				'name': 'meta.section'
				'patterns': [
					{'include': '$base'}
				]
			}
		]
	'properties':
		'patterns': [
			{
				'match': '\\b(count|depends_on|lifecycle|create_before_destroy|prevent_destroy|ignore_changes)\\b\\s*(=)\\s*'
				'captures':
					'1':
						'name': 'variable'
					'2':
						'name': 'keyword.operator.assignment'
			}
			{
				'match': '([\\w-]+)\\s*(=)\\s*(.+?)$'
				'captures':
					'1':
						'name': 'variable'
					'2':
						'name': 'keyword.operator.assignment'
					'3':
						'patterns': [
							{'include': '#literals'}
						]
			}
		]
